[2019-07-26 15:31] hironroy opened #1 "Dependency Installation Versioning"
At workshop, we encountered a couple of issues with versions of deps. The following versions and procedure allow for the demo notebook to run.

[code]

[2019-07-26 19:58] AutoViML commented on #1
Thanks Hiron this is something we should package and turn into a pip install. Otherwise it will be a problem for others to install and run.

[2019-07-30 19:40] hironroy commented on #1
PR for latest dep compatibility: #2  -- Doesn't get us all the way to a pip install, but is a step in the right direction.

[2019-07-31 15:48] AutoViML commented on #1
thanks have accepted all your changes

[2019-07-31 15:48] #1 closed

[2019-08-09 06:08] Tronic opened #4 "Installation instructions and sample code not working"
You need **from autoviz** import ... in the sample code. Preferably you should give a sample that can be just copy&pasted and run, and provide pictures of how it looks, so that one could evaluate whether to install this instead of the many other plotting libraries.

The dependencies are extremely heavy. Is it absolutely necessary to install Jupyter? Something inside also depends on sklearn, which

[2019-08-17 00:01] AutoViML commented on #4
Hi Karkkainen:
Thanks for your excellent comments. I will go over your suggestions
carefully and get back to you. Would you mind trying It after I make some
changes?
Thanks again,
Ram

On Fri, Aug 9, 2019 at 2:09 AM L. Kärkkäinen <notifications@github.com>
wrote:

[2019-08-17 08:58] Tronic commented on #4
I am currently looking at Bokeh which seems quite promising. The server mode is able to stream realtime updates to browser, and receive widget changes back to application. The Bokeh API, especially in server mode, is still too complex (requiring callback functions), but I believe it could be fixed with reasonable effort. Bokeh's complexity is offset by its beautiful Canvas and WebGL based plots. T

[2019-08-17 15:04] AutoViML commented on #4
Hi Karkkainen: Sorry to hear about your experience. I have fixed the issues you had importing. It is as simple as 1-2-3:
1. First install autoviz
<code>pip install autoviz</code>

2. Next initialize the Figure class which I called AutoViz_Class so it can store your images that are generated from your dataframe (df)
<code>from autoviz.AutoViz_Class import AutoViz_Class</code>
<br><code>AV = AutoViz

[2019-10-22 15:18] #4 closed

[2019-11-20 21:32] isioma42 commented on #4
hello Ram,
when i run the code on my dateset, dft = av.AutoViz('', sep, target, df)
i get this error
"Not able to read or load file. Please check your inputs and try again..."

what could the issue be?

[2019-11-20 21:36] isioma42 commented on #4
![Screen Shot 2019-11-20 at 4 33 38 PM](https://user-images.githubusercontent.com/41458615/69280238-ee1ab280-0bb3-11ea-8cd6-61c7612538b3.png)

[2019-11-20 21:39] isioma42 commented on #4
![Screen Shot 2019-11-20 at 4 38 39 PM](https://user-images.githubusercontent.com/41458615/69280387-4356c400-0bb4-11ea-9597-8d44bd67250a.png)

[2019-11-20 22:51] isioma42 opened #7 ""Not able to read or load file. Please check your inputs and try again...""
hello Ram,
when i run the code on my dateset, dft = av.AutoViz('', sep, target, df)
i get this error
"Not able to read or load file. Please check your inputs and try again..."

what could the issue be?

[2019-11-20 22:53] isioma42 commented on #7
![Screen Shot 2019-11-20 at 4 38 39 PM](https://user-images.githubusercontent.com/41458615/69285317-99306980-0bbe-11ea-99f9-f2d2ec73cb9c.png)

[2019-11-20 22:54] isioma42 commented on #7
sep = ''
target = 'Instance ID'

dft = av.AutoViz('', sep, target, df)

[2019-11-21 03:14] AutoViML commented on #7
Can you please load your notebook and a small slice of your data set to
some GitHub and point me to it? Or you can attach a small CSV data set to
your Bug / Issue if that’s possible. Only then can I try to reproduce the
problem.
Thx
Ram

On Wed, Nov 20, 2019 at 5:54 PM Isi Idemudia <notifications@github.com>
wrote:

[2019-11-21 03:42] isioma42 commented on #7
Hi Ram,

Here is the link to dataset
https://github.com/isioma42/machine-learning/blob/master/sample%20ec2%20metrics.xlsx

and the notebook

https://github.com/isioma42/machine-learning/blob/master/new.ipynb

best
Isi

[2019-11-23 03:41] AutoViML commented on #7
It seems to run fine with your data set if you chose a different target
variable than "Instance ID".
Typically ID variables don't have any useful info so they get deleted by
AutoViz. In this case, thats what happened. Take a look at my Jupyter
Notebook attached. It seems to work fine when you choose a different target
variable such as "Sum" or "Average".
Ram

On Wed, Nov 20, 2019 at 10:42 PM Isi I

[2019-11-23 10:06] isioma42 commented on #7
Thank you , I donot see the file attached.

[2019-11-23 12:59] AutoViML commented on #7
Can you post an email to the Address on my Auto_ViML page?
Ram

On Sat, Nov 23, 2019 at 5:06 AM Isi Idemudia <notifications@github.com>
wrote:

[2019-11-23 13:09] isioma42 commented on #7
isiomamasi@gmail.com

[2019-11-24 22:05] AutoViML commented on #7
This issue is now closed. Please reopen it if you need any further help.

[2019-11-24 22:05] #7 closed

[2019-12-17 07:15] HiIamJeff opened #9 "Misplaced graph x ylabel"
Hi Ram,
I have tried this package and found out a potential bug.
When I tried to do the AV.AutoViz('', ',', 'target', df) to run an autoViz stuff, the x y labels of each graph are misplaced (x label should be placed at y label and vice versa.). I have tried two datasets and it still happened. Please look into this and see if this is a bug or I just did something wrong. Thanks!
Jeff

[2019-12-17 16:04] morenoh149 commented on #9
In future a reproducible colab would be useful to communicate the bug. @HiIamJeff

[2019-12-18 00:08] AutoViML commented on #9
Jeff:
Thank you for bringing this to my attention...I'd like to fix it ASAP.
But I agree with Harry. I won't be able to reproduce the problem unless you
host your notebook on your GitHub or host it on a Colab. Hope that's not
too much trouble for you.

On Tue, Dec 17, 2019 at 11:04 AM Harry Moreno <notifications@github.com>
wrote:

[2019-12-18 09:51] HiIamJeff commented on #9
Hi @morenoh149 @AutoViML,
Thanks for reminding me. I have put up a Google Colab below. (I don't have much experience with this. Please let me know if you couldn't access) The problem still shows up in this notebook and please check if this is a potential bug. Thanks!
https://drive.google.com/file/d/111P3fRpLrPcS05phMgecqhgStLZDespN/view?usp=sharing

Jeff

[2019-12-19 04:06] AutoViML commented on #9
Jeff:
Thanks - you are right => a minor error had crept in when I changed
something recently and it was not detected until now. Eagle eye!
Thanks a lot for bringing it to my attention! I have fixed it in your
notebook and it should look good now.
https://colab.research.google.com/drive/111P3fRpLrPcS05phMgecqhgStLZDespN#scrollTo=n6ORpr-gU9sy

I have updated the "pip install" and the "github" with t

[2019-12-27 02:55] #9 closed

[2019-12-30 05:33] sivanagendra123 opened #10 "some variables in data removed automatically"
Hi,
I gave input csv contains 20 variables,while preprocessing it removed all important columns,may i know the reason?.
note:-  removed columns contains fill data without null values

[2019-12-30 13:03] AutoViML commented on #10
Can you please upload your notebook to a Colab or a GitHub with the data
and send me a link to share it with me? That’s the only way I can trouble
shoot it. One quick way to know what’s wrong with your data is to do:

df.dtypes

See if there is at least one numeric column. Make sure all data have proper
data types. Make sure they are not all ID columns or variables with no
change.

If above fail t

[2020-01-02 08:14] morenoh149 opened #13 "Use black formatter"
Would you welcome a PR adding black formatting to the project? https://github.com/psf/black

[2020-01-02 15:57] AutoViML commented on #13
That will be awesome. please do.
Ram

On Thu, Jan 2, 2020 at 3:14 AM Harry Moreno <notifications@github.com>
wrote:

[2020-01-02 16:30] morenoh149 commented on #13
ok here's how pandas uses it https://github.com/pandas-dev/pandas/blob/55ef668fc1cddd1bd214387d5b82e438c99b06ab/Makefile#L17 as an example

[2020-01-02 16:46] AutoViML commented on #13
Look forward to the PR. Start with AutoViz.
Ram

On Thu, Jan 2, 2020 at 11:30 AM Harry Moreno <notifications@github.com>
wrote:

[2020-01-07 18:24] morenoh149 opened #15 "Project logo [help wanted]"
If anyone with design sensibilities sees this. We are open to changing the project logo.

We like the pandas logo for example https://github.com/pandas-dev/pandas ![](https://camo.githubusercontent.com/5cb734f6fc37f645dc900e35559c60d91cc6b550/68747470733a2f2f6465762e70616e6461732e696f2f7374617469632f696d672f70616e6461732e737667)

[2020-01-10 15:48] Nathanlauga opened #16 "Categories barplot with target same color"
Hi!
I find out that for categories bar plot with target color splitting, **the color is the same for both target values**. I uploaded an example here : [test AutoViz on adult data notebook](https://github.com/Nathanlauga/test-autoviz/blob/master/Test%20autoviz%20on%20adult%20dataset.ipynb).

By the way, great job with this package !
Nathan.

[2020-01-10 16:39] AutoViML commented on #16
Yes I see. Will fix that. Thanks for bribing this to my attention.
Ram

On Fri, Jan 10, 2020 at 10:48 AM Nathan Lauga <notifications@github.com>
wrote:

[2020-01-12 03:06] AutoViML commented on #16
Nathan:
This color problem has been resolved. Please uninstall autoviz and install
a new version. Your version should say: 0.0.068

Otherwise you will see the old plots as you have in the notebook currently.
Thanks
Ran

On Fri, Jan 10, 2020 at 11:39 AM Ram Seshadri <rsesha2001@gmail.com> wrote:

[2020-01-12 10:56] Nathanlauga commented on #16
Thanks! Good job :+1:

[2020-01-12 10:56] #16 closed

[2020-01-12 14:32] AutoViML commented on #10
I am closing this issue since you have not responded. Assume that this is no longer an issue. If not, please respond back with sample data so I can reproduce your issue. Thanks.

[2020-01-12 14:32] #10 closed

[2020-02-01 16:42] Eastkap commented on #10
It's so frustrating when the code thinks variables are of low value and ignores them. There should be an option to set a threshold

[2020-02-01 17:50] AutoViML commented on #10
Hi EastKap:
Can you please give me an example where it does this to a dataset? I’ll be
happy to provide a threshold if needed. Can you share the dataset on a
Github link or a Colab link?
Thanks
Ram

On Sat, Feb 1, 2020 at 11:42 AM Eastkap <notifications@github.com> wrote:

[2020-02-01 22:50] Eastkap commented on #10
I've sent you an email, I think I rather share the data through there since it's a bit private. @AutoViML

[2020-02-13 20:12] hakobjan opened #17 "encoding issue"
I am trying to use AutoViz on a large data set with a shape of (1362132, 83)
THIS READS THE DATA SET

`df = pd.read_csv("./Desktop/mgh_multi_gifts_desc_joined_tb_CSV.csv",
                 error_bad_lines=False,
                 engine='python',
                 sep=",",
                encoding='cp1252'`

THIS IS MY NEXT STEP

`encoding = "cp1252
error_bad_lines = False
engine ='python'
sep = ','

[2020-02-13 21:03] AutoViML commented on #17
Yes this is real easy to fix. If you have already loaded the data into a
data frame called “df” just send it to AutoViz directly as a DF as follows:

dft = AV.AutoViz(“”, sep=sep, depVar=target, dfte=df, header=0, verbose=0,
lowess=False,chart_format='svg',max_rows_analyzed=1500,max_cols_analyzed=30)

Try this. It should work.
Ram

On Thu, Feb 13, 2020 at 3:12 PM Hakob Avjyan <notifications@github

[2020-02-13 21:32] hakobjan commented on #17
Thanks for your response Ram!
what would the required filename argument be?

[2020-02-13 21:46] AutoViML commented on #17
You just need to give the filename argument as an empty string “” as I have
shown below. You could have cut and pasted my code below in your notebook
and run it.
Ram

On Thu, Feb 13, 2020 at 4:32 PM Hakob Avjyan <notifications@github.com>
wrote:

[2020-03-02 13:12] Just-timoo opened #19 "addition of example of how to install autoviz to workstation"
this is to write an example of how to install autoviz to your user workstation

[2020-03-04 15:08] AutoViML commented on #19
Hello Toby:
What do you mean by this comment? Is it a comment or a question?
Ram

On Mon, Mar 2, 2020 at 8:12 AM Timoty Toby <notifications@github.com> wrote:

[2020-03-04 15:29] 0xTimoo commented on #19
Its a comment

I mean in the documentation of the project, there should be an addition of how it can be  installed.

For example: (showing how it's been installed)

$cd <project_folder> where the project will be added to on the users PC

<project_folder>$ conda create -n <your_env_name> python=3.7 anaconda
//the <your_env_name> will be the project_name
I hope this is clear,

"Your_env_name" seems

[2020-03-06 20:41] morenoh149 commented on #19
@timoty-toby feel free to add such an example to the readme in a pr. Your instructions are still unclear to me.

[2020-05-07 03:14] Ashton-Sidhu opened #22 "DataFrame as input"
Hey just wondering if you're thinking about the ability to just pass a dataframe to AutoViz instead of the file.

I can help by creating a PR for it

[2020-05-07 14:14] AutoViML commented on #22
It already takes in a dataframe an input. Check the documentation in README
where it says the fourth argument (input) is a dataframe “dfte” which
stands for dataframe. If you provide a dataframe to that argument it will
visualize that data frame.
Hope this helps.

On Wed, May 6, 2020 at 11:14 PM Ashton Sidhu <notifications@github.com>
wrote:

[2020-06-11 16:32] #22 closed

[2020-06-11 16:34] #17 closed

[2020-06-26 15:56] #19 closed

[2020-07-22 14:01] sanketghanmare commented on #15
hey hi, my name is Sanket. I can help you with this. Can you give me some more in-depth details about this?. My email address is sanketghanmare@gmail.com. Thank you

[2020-07-26 00:00] sanketghanmare commented on #15
<img width="499" alt="Screen Shot 2020-07-25 at 7 55 20 PM" src="https://user-images.githubusercontent.com/24240931/88468422-665b1580-ceb1-11ea-9c28-c56745de79da.png">
<img width="499" alt="Screen Shot 2020-07-25 at 7 56 06 PM" src="https://user-images.githubusercontent.com/24240931/88468423-66f3ac00-ceb1-11ea-8075-672dfe1bc3ae.png">
<img width="498" alt="Screen Shot 2020-07-25 at 7 57 00 PM" src=

[2020-07-26 00:01] sanketghanmare commented on #15
Let me know if you need more ideas or liked any one of the submitted above.
Best,
Sanket

[2020-07-26 03:17] AutoViML commented on #15
Saket
I liked this
[image: image.png]
Can you spruce up the README page with this logo (prune it a bit to make it
smaller) and make the whole README page look nice?

If you have some skills in Markdown, modify the README page and then you
can submit a Pull Request with the logo  and I'll accept it.

That way, you'll be credited as a Contributor to this module. How does that
sound?
Thx
Ram

On Sat,

[2020-07-26 04:14] sanketghanmare commented on #15
Hi Ram,
            I can only see the string of the image which you choose but not the actual image, Can you elaborate more on the logo you choose? After that, I will push the changes. Thank you.
Best,
Sanket

[2020-07-26 12:54] AutoViML commented on #15
The image has a white background and an orange colored triangles like this
with AutoViML in black color - hope this helps.

On Sun, Jul 26, 2020 at 12:14 AM Sanket Ghanmare <notifications@github.com>
wrote:

[2020-07-27 01:29] sanketghanmare commented on #15
hey cool I will add it
let me know the next steps

[2020-07-27 11:04] AutoViML commented on #15
Just modify the Readme page on GitHub and submit a pull request. I’ll
accept it.
Thanks a lot
Ram

On Sun, Jul 26, 2020 at 9:30 PM Sanket Ghanmare <notifications@github.com>
wrote:

[2020-08-07 20:18] shashwatwork opened #23 "Save plots as png images."
Can we save all visualizations generated by Autoviz as png image files in the current working directory?

[2020-08-08 23:29] AutoViML commented on #15
Sanket
I added your logo and your name as the creator of the logo - hope you like
it!
Thanks
Ram

On Mon, Jul 27, 2020 at 7:04 AM Ram Seshadri <rsesha2001@gmail.com> wrote:

[2020-08-08 23:33] sanketghanmare commented on #15
Hi Ram,
            Greetings of the day. I planned to do this oncoming 10th
because the last day of my summer semester is the 9th of August and I
needed to submit my final Assignment before 10th. Thank you for handling it
on my behalf. If there are any more interesting tasks for which I can
contribute then please let me know. I will reply as soon as possible.

Best,
Sanket

On Sat, Aug 8, 2020 at

[2020-08-09 03:03] AutoViML commented on #15
Can you please create a similar logo for AutoViz after looking at the
product whenever you have some time after Aug 10th?
Thanks
Ram

On Sat, Aug 8, 2020 at 7:33 PM Sanket Ghanmare <notifications@github.com>
wrote:

[2020-08-09 03:05] sanketghanmare commented on #15
Ya, sure I will do it. Do you want the exact same design? or something new

[2020-08-09 03:14] AutoViML commented on #15
Something new - it should reflect something about visualization.
Ram

On Sat, Aug 8, 2020 at 11:05 PM Sanket Ghanmare <notifications@github.com>
wrote:

[2020-08-09 03:15] sanketghanmare commented on #15
I will look into it and get back to you Ram.

[2020-08-09 22:43] sanketghanmare commented on #15
<img width="500" alt="Screen Shot 2020-08-09 at 6 40 30 PM" src="https://user-images.githubusercontent.com/24240931/89743313-1c0c9380-da70-11ea-9058-b3b67225392e.png">
<img width="498" alt="Screen Shot 2020-08-09 at 6 40 18 PM" src="https://user-images.githubusercontent.com/24240931/89743314-1ca52a00-da70-11ea-8e30-5120721e0c50.png">
<img width="497" alt="Screen Shot 2020-08-09 at 6 39 44 PM" src=

[2020-08-09 22:43] sanketghanmare commented on #15
These are my design choices for AutoViz. Let me know if you need any more changes

[2020-08-10 16:09] Metalkiler opened #25 "Verbose = 2 does not save images"
Running verbose = 2 does not save the images anywhere!
Can you please see this issue?

[2020-08-10 17:33] AutoViML commented on #25
It saves the images in the AutoViz_Class which has been initialized as AV.
You need to just use the dot notation to find the properties of AV to find
all the plots it has saved.
Ram

On Mon, Aug 10, 2020 at 12:09 PM Luís Miguel Matos <notifications@github.com>
wrote:

[2020-08-10 19:44] Metalkiler commented on #25
But you could save each plot into a png or something with an option like verbose
Instead I have to convert each xml to a png manually

[2020-08-10 19:46] Metalkiler commented on #25
Also, it only works on Jupyter notebook if I want to run this code in a single script it gives an error (related to an in-line issue with ipython)

[2020-08-10 20:03] AutoViML commented on #25
Let me change that and see if it works when I run it as a script. That’s a
good point you bring up. Thanks for letting me know
Ram

On Mon, Aug 10, 2020 at 3:46 PM Luís Miguel Matos <notifications@github.com>
wrote:

[2020-08-10 20:29] Metalkiler commented on #25
And sorry again to bother you, but another question, if you run this package with a small dataset (e.g., iris) it does not give plots
Is it normal?

[2020-08-10 20:43] AutoViML commented on #25
That is not normal. In fact what you may find is that your data file is
missing or your target is missing or incorrectly spelled out. Please take a
screenshot and send it to me Via email at rsesha2001@yahoo.com

Thx
Ram

On Mon, Aug 10, 2020 at 4:29 PM Luís Miguel Matos <notifications@github.com>
wrote:

[2020-08-11 11:33] Metalkiler commented on #25
Morning, I sent an email with that information

Also, how can you convert each stringIO plot you saved into several arrays into a single image
Cause the solution I made was to gather the string (e.g., AV.barplots["plots"][0]) as presented in the image annexed and then saved into a pdf using pdfkit

However this is not an optimal solution (doing the way im doing) as presented in the pdf "out.pdf" .

[2020-10-03 20:26] gvyshnya opened #26 "AutoViz Crashes with the Error"
When I try to apply AutoViz to analizing the data of one of the competitions in Kaggle (namely, https://www.kaggle.com/c/lish-moa/data), it crashes.

Below is the error trap I get

[code]

My code to reproduce the problem is provided in https://gist.github.com/gvyshnya/7644fd77567051203ad96d95fbc7ef2a

I run that code on my local machine (not in a Kaggle kernel). The above-mentioned code expects t

[2020-10-04 00:47] AutoViML commented on #15
The last one looks good Sanket. If you want to edit the README.md page by adding the new logo and submit a pull request, you can. If not, I can go ahead and do it myself and give you credit for the logo. Let me know either way.

[2020-10-04 00:50] AutoViML commented on #25
If you can modify the save_image_data module in AutoViz_Class to do what you wanted, then I can easily merge the changes into Autoviz.
For example, here is the code that saves image data in AutoViz_Class.py file:
``
######## This is where we store the image data in a dictionary with a list of images #########
def save_image_data(fig, image_count, chart_format):
    if chart_format == 'svg':

[2020-10-04 01:53] AutoViML commented on #26
I have fixed a minor bug that was related to it. Please perform an upgrade of your AutoViz using the following command:

$ pip install autoviz --no-cache-dir --ignore-installed

Then you will see that a new version 0.0.70 has been installed. That should fix this problem. Please confirm to me so I can close this ticket.
Thx

[2020-10-06 12:17] AutoViML commented on #26
George
I have fixed the problem. You should upgrade to the latest version by:
pip install autoviz —no-cache-dir —ignore-installed

That will get you version 0.0.70 which will fix it. Please note there is
still a limitation in mat plot library which makes drawing huge charts On
800 variables a challenge. So you may see an error after drawing most of
the charts. I still haven’t found a way around it

[2020-10-06 13:19] gvyshnya commented on #26
Thanks, Ram - appreciated your quick turn-around on it!

I tried it on my side locally, and version 0.0.70 worked (with the limitation on matplotlib side that you mentioned).

Thank you once again for your help and prompt fix.

George

[2020-10-06 13:19] #26 closed

[2020-10-07 20:40] gvyshnya opened #27 "[Minor] AutoViz Crashes on the analysis of a dataset without any significant variables"
If AV is fed with a dataset where it does not find any significant variable to analize (vs. the target variable specified), it crashes.

The code to reproduce the issue is provided in https://gist.github.com/gvyshnya/c53321dbe947cc55fec91ccf6ae07294

The environment to reproduce the problem is the same as indicated in https://github.com/AutoViML/AutoViz/issues/26

The expected behaviour would be t

[2020-10-13 02:48] bansalism2 opened #28 "How do we see output using a script file a terminal?"
Hi AutoViML,

Firstly, congratulations and thanks for this wonderful package.
This works perfectly fine with Jupyter notebooks but how do I use the same if I am using an IDE let say Spyder?

Thanks in advance.
Mohit

[2020-10-14 00:35] AutoViML commented on #28
Let me see what I can do. If we save the charts in PNG format in a sub
directory under the current directory, would that be a good solution?
Ram

On Mon, Oct 12, 2020 at 10:48 PM bansalism2 <notifications@github.com>
wrote:

[2020-10-14 08:14] bansalism2 commented on #28
Thanks Ram,

Or we could also do one thing, currently by default it runs in an "inline"
mode can we make that a parameter for the Class? whether user wants in "qt"
or "inline"?

On Wed, Oct 14, 2020, 6:05 AM AutoViz and Auto_ViML <
notifications@github.com> wrote:

[2020-10-14 12:53] AutoViML commented on #28
Can u make the required modifications in code and submit a pull request if
it is possible...
Thx
Ram

On Wed, Oct 14, 2020 at 4:14 AM bansalism2 <notifications@github.com> wrote:

[2020-10-20 03:59] satishjasthi commented on #28
Hi Ram

Can I take up this issue

[2020-10-20 13:26] AutoViML commented on #28
Satish:
Please do. Submit a pull request once you make the changes to the code.
I’ll review and approve or make further changes. Make sure you test on your
local drive first. Thanks
Ram

On Mon, Oct 19, 2020 at 11:59 PM SATISH J <notifications@github.com> wrote:

[2020-11-01 14:23] AutoViML commented on #28
This feature has been added by Satish., Closing the issue.

[2020-11-01 14:23] #28 closed

[2020-11-01 14:25] AutoViML commented on #25
This issue has now been fixed with the latest version 0.0.72 which saves images to your local disk '/plots' folder if you use verbose=1 option for PNG and JPG images. However, SVG images are returned in AV_Class if you use verbose=2 option.

[2020-11-01 14:25] #25 closed

[2020-11-01 14:26] AutoViML commented on #23
This has been fixed in the latest version 0.0.72 if you use the verbose=1 option. Now it will save PNG and JPG images to your local disk in the '/plots/ subfolder. You can check it.

[2020-11-01 14:26] #23 closed

[2020-11-01 22:54] Metalkiler commented on #25
Great addition!
Gonna test it soon!

[2020-11-02 18:08] satishjasthi commented on #28
Hi Ram

Can you change the dir name in AutoViz_Class.py from
`self.plots_dir = Path().cwd()/'plots'`
to
`self.plots_dir = Path().cwd()/'Plots'`

because its failing to save the plots in 'Plots' dir while its actually creating 'plots' dir during AutoViz_Class initaliation

[2020-11-04 13:52] AutoViML commented on #28
Yes I have changed it. You should see version 0.0.73 soon implementing it
on Github. I will upload it to a new version on PyPi later this week once I
have more changes. If you have any more suggestions to make let me know.
Ram

On Mon, Nov 2, 2020 at 1:09 PM SATISH J <notifications@github.com> wrote:

[2020-11-04 13:55] AutoViML commented on #27
George - I believe this has been fixed. Please confirm with the latest release on Github and let me know. Thanks,

[2020-11-04 13:55] #27 closed

[2020-11-05 05:36] satishjasthi commented on #28
Sure

[2020-11-13 07:45] yoonwonj opened #31 "AutoViz misidentifies my dependent variable as a categorical variable, which is in fact a continuous variable."
AutoViz misidentifies my dependent variable as a categorical variable, which is in fact a continuous variable.

My dependent variable is the Loneliness scale score within the range of 1 of 4.
![image](https://user-images.githubusercontent.com/47551200/99041733-ca275c80-25ce-11eb-90cd-8a412a69083c.png)

When I run the basic code of Autoviz() below, I do not get any results regarding my dependent va

[2020-11-14 03:52] AutoViML commented on #31
Let me take a look and fix it. Should not be a problem.
Ram

On Fri, Nov 13, 2020 at 2:45 AM Yoonwon Jung <notifications@github.com>
wrote:

[2020-11-15 19:28] AutoViML commented on #31
Hello yoonwonj:

I have fixed the problem for you. You should install the fixed version from this github by opening a new Jupyter Notebook and typing this in an empty cell:

!pip install git+https://github.com/AutoViML/AutoViz.git

That will install the 0.0.75 version (pl check it) and it should be fixed. Please let me know if it works and I will close this issue.
Thx
Ram

[2020-11-23 14:44] yoonwonj commented on #31
Hi,

Sorry for getting back to you late. I've tried the fixed version and it worked perfectly well!

Thanks for your work.

[2020-11-23 15:14] #31 closed

[2020-11-24 01:34] kishan19 opened #32 "JSON file example"
Is there an example where I could use a JSON file with AutoVIZ, seem to be running into errors. Would be good to have a sample file that works.

[2020-11-24 02:06] AutoViML commented on #32
The reason I don't have an example is very simple -> JSON's are very hard
to visualize since they may not have a consistent structure
Instead if you load the JSON into a Pandas DataFrame you will have a
consistent structure (columns) to the data and then you can feed it to
AutoViz.
Try that approach first and see if it works.
Ram

On Mon, Nov 23, 2020 at 8:34 PM Kishan <notifications@github.com> w

[2020-12-10 02:20] AutoViML commented on #15
closed.

[2020-12-10 02:20] #15 closed

[2020-12-15 04:11] VellalaVineethKumar opened #33 "maximum recursion depth exceeded in comparison"
I have a CSV file with 40,000 records and I was trying to run Autoviz on this data
`from autoviz.AutoViz_Class import AutoViz_Class
AV = AutoViz_Class()
filename = 'Cleaned_InnerJoinedDataframe.csv'
df1 = AV.AutoViz(filename)`

But this fails with error
~\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\font_manager.py in findfont(self, prop, fontext, directory, fallback_to_default,

[2021-01-14 12:16] beobest2 opened #34 "`html` format file output"
Most of the other EDA tools support `html` format file output.
Do you have any plans to support `html`  format file output function, taking the output path of the file as an argument?
Thank you.

[2021-01-14 12:20] beobest2 opened #35 "The title part at the top of the output image is cut off"
When using `vervose=2` to output an `svg` or `png` file, there is an issue where the top title part is cut off.
There seems to be a problem with the `height` value setting, please check.

[2021-01-14 12:21] beobest2 commented on #35
![image](https://user-images.githubusercontent.com/7010554/104590312-7c9e9d00-56ae-11eb-9874-18022e56add4.png)

[2021-01-15 03:26] AutoViML commented on #35
Sure let me take a look at it
Ram

On Thu, Jan 14, 2021 at 7:22 AM Hyunwoo Park <notifications@github.com>
wrote:

[2021-02-19 21:29] username7171 commented on #32
Understand that it doesn't have a consistent structure, so it is hard.

But on the main page, you said you could feed JSON into autoviz, however seems all JSON will produce the error.

Maybe we could remove that statement until we find some good way to parse the JSON file.

Thanks!

[2021-02-19 22:16] sunset1234321 opened #36 "exporting the report"
Similar project to AutoViz are Sweetviz and Pandas Profiling.

They could export the report as a HTML file.
I wonder if this library also has this function?

[2021-03-10 21:29] ghost commented on #36
I am waiting for the same improvement of AutoViz. Cannot suppress the output or save it as html file.

[2021-03-14 04:26] AutoViML commented on #36
Ho:You can suppress the output and save all the charts automatically if you set the verbose input flag  to 2.

You will see all the charts are saved in JPG or PNG format in your local machine just underneath the current directory.

Please check and let me know.

Thx

Ram
    On Wednesday, March 10, 2021, 4:29:43 PM EST, RalucaBala ***@***.***> wrote:

I am waiting for the same improvement of AutoV

[2021-03-14 14:21] AutoViML commented on #34
I am working on this - I'll let you know as soon as it is ready.
Ram

[2021-03-14 19:21] AutoViML commented on #33
People have tested AutoViz with half a million records and more than 100 variables and it has run fine.

If you can a small snippet of data, I can test and let you know. My email is listed on this Github.

Ram

[2021-03-14 19:21] #33 closed

[2021-03-14 21:00] ghost commented on #36
I was referring to saving the whole output as html not the charts.

On Sun, 14 Mar 2021, 06:27 AutoViz and Auto_ViML, ***@***.***>
wrote:

[2021-03-30 19:31] aswinjose89 opened #37 "Autoviz couldn't Process 100k records..Any solutions?"
Autoviz couldn't Process 100k records with 16 features..Any solutions?

[2021-04-01 13:15] AutoViML commented on #37
Can you please review the following Kaggle Notebooks that have processed 300K records with similar number of features? They are Kaggle Data Sets. So you should be able to verify it. You might also want to try it on Colab or Kaggle kernels.

300K rows + 32 Variables on Kaggle:
https://www.kaggle.com/debarshichanda/autoviz-visualize-any-dataset-in-1-line/comments

Closing. Please let me know if this

[2021-04-01 13:15] #37 closed

[2021-04-01 13:16] AutoViML commented on #36
At the moment, there is no plan to save the whole output as HTML file.
I will let you know if there is any change in my plans.
Thanks
Ram

[2021-04-01 13:17] AutoViML commented on #34
beobest2  : At the moment, since I am planning on porting AutoViz to other plotting methods, I am busy and hence won't be able to focus on HTML file format. I will let you know if this changes. If you or someone wants to work on it as a project, I can guide you easily.
Ram

[2021-05-02 04:51] Abh8017 opened #38 "Module autoviz not found"
![image](https://user-images.githubusercontent.com/38239830/116802410-07a58500-ab30-11eb-837a-12f7fa5d943b.png)
`ModuleNotFoundError: No module named 'autoviz'`

Let me know if I am doing anything wrong

[2021-05-10 12:31] AutoViML commented on #38
Hi:
It is possible that doing pip install via Jupyter Notebook might be the culprit here.

You should either try on your Jupyter Notebook:
!pip install autoviz

or try in your windows terminal the following:
pip install autoviz

I think that should solve it.
Closing it for now.
Let me know if you need to open it again.

[2021-05-10 12:31] #38 closed

[2021-05-24 17:17] atwahsz opened #39 "Rows limit"
Is there a way to overcome this ? I want autoviz to go through the whole data frame regardless of large number of rows

[2021-05-31 09:12] ironapidevop opened #40 "DataFrame"
Dear all,
I couldn't figure out how to pass a dataframe (instead of a csv file) to `AV.AutoViz`.
Could somebody please give me a short hint?

thanks in advance.

[2021-06-02 01:37] rsesha commented on #40
Can you check this and see if it works?

dft = AV.AutoViz("", sep=sep, depVar=target, dfte=df, header=0, verbose=2,
                            lowess=False,chart_format='svg',max_rows_analyzed=1500,max_cols_analyzed=30)

If not, check this example demo:
https://github.com/AutoViML/AutoViz/blob/master/Examples/AutoViz_Demo.ipynb

[2021-06-02 01:38] rsesha commented on #39
yes you can set the max_rows_analyzed (see below) to a very large number in which case it will analyze all the rows in the data frame.

dft = AV.AutoViz(datapath+filename, sep=sep, depVar=target, dfte=df, header=0, verbose=2,
                            lowess=False,chart_format='svg',max_rows_analyzed=1500,max_cols_analyzed=30)

[2021-06-11 23:18] aveusalex opened #41 "AutoViz is recognizing int numbers as categorical vars, not numerical"
When plotting charts, me and my team could see that numerical vars was being plotted as categorical vars. This means that an "age" data was being plotted as categories, like it was the same type as "card category" information.
    We have dealt with that only transforming the "age" information, that was int64 type, to float numbers, which seemed to have worked and treated correctly as numerical va

[2021-06-12 12:57] AutoViML commented on #41
Yes we treat integers as categories if the number of unique integer values in that column is less than 30.
If you want to treat it as a numeric variable, you can change it to float and it will treat it correctly.

[2021-06-12 12:57] #41 closed

[2021-06-12 12:57] #40 closed

[2021-06-12 12:57] #39 closed

[2021-06-16 03:49] arora123 opened #42 "Data Viz for training data after making the split"
We should explore data after making a train-test split to avoid data leakage.
How can I supply a data frame (training data only) to df.Autoviz() function? I tried supplying dataframe and leaving filename as an empty string but it's not giving me charts.

My Code:

[code]

Output

Shape of your Data Set: (7043, 20)
############## C L A S S I F Y I N G  V A R I A B L E S  ####################
Classi

[2021-06-29 13:39] AutoViML commented on #42
@arora123 :
Here is how I would modify your code to run AutoViz. I have tested and it works on my notebook. So please confirm:

`import pandas as pd
from sklearn.model_selection import train_test_split

df = pd.read_csv('https://raw.githubusercontent.com/arora123/Data/master/WA_Fn-UseC_-Telco-Customer-Churn.csv')

train, test = train_test_split(df, test_size=0.2, random_state =1)
df.shape

#!pip i

[2021-07-08 22:41] #42 closed

[2021-07-26 05:13] hanzigs opened #43 "Is it possible to have the input as dataframe instead of file?"
if input is dataframe can be used in real time, files can be of any source and type

[2021-07-31 10:57] AutoViML commented on #43
Autoviz accepts both files and dataframes as input. You just need to send one or the other in the calling function as below:
dfte : dataframe as input
filename = filename as input
sep = separator if using a file as input
-----------------------------------------------
dft = AV.AutoViz(
    filename,
    sep=",",
    depVar="",
    dfte=None,
    header=0,
    verbose=0,
    lowess=False,
    chart

[2021-07-31 10:57] #43 closed

[2021-08-19 10:27] ggattoni opened #44 "AutoViz not working with scikit-learn >= 0.24 on large datasets"
Starting from version 0.24, in `scikit-learn` it is raised an error (instead of a warning) when in `KFold` and `StratifiedKFold` it is passed a `random_state` without setting `shuffle` to `True`.
When using AutoViz with a large dataset, in the function `find_top_features_xgb`, the `KFold` defined as `kf = KFold(n_splits=n_splits, random_state=33)` raises a `ValueError` and the overall auto visuali

[2021-08-27 15:30] AutoViML commented on #44
@ggattoni
 I have removed that random state option and it should work now. Can you please test and coinfirm?
Thanks
AutoViz team

[2021-09-09 02:05] shuaiwang88 opened #45 "Normed Histogram plot with negative y value?"
Hi, the plots I have all has negative y values. How to interpret this?
<img width="519" alt="Screen Shot 2021-09-08 at 10 04 39 PM" src="https://user-images.githubusercontent.com/14266357/132610129-cde3e4db-6b4d-4421-abbc-6dcb821fb6b0.png">

I think the following code generates the plots.
sns.distplot(dft.loc[dft[dep]==target_var][each_conti],bins=binsize, ax= ax1,
                            labe

[2021-09-17 19:44] AutoViML commented on #45
Hi @shuaiwang88

Can you please clarify?? I am not understanding your issue.
1. Are you suggesting AutoViz did something wrong and want to change its code to the one you have shown below?
`sns.distplot(dft.loc[dft[dep]==target_var][each_conti],bins=binsize, ax= ax1,
label=target_var, hist=False, kde=True,
color=color2)
legend_flag += 1`

2. Are you suggesting that AutoViz has a wrong plot but you

[2021-09-24 08:17] mglowacki100 opened #46 "[bug] problem with time series charts"
Here is minimal reproducible example with google colab:

1. Date time column is no recognized, when input is file:
[code]
2. When input is dataframe - chart is not generated, but date time column is recognized:

[code]
Expected result: chart with date on x-axis, and value on y-axis.

[2021-09-25 01:30] AutoViML commented on #46
Hi @mglowacki100 👍
Your observations are correct. However, I use `pd.read_csv('ts.csv', parse_dates=True)`  when reading your file and it does not detect a date-time column. What can I do? I am sorry. In the second case, when you send in a dataframe, I detect a date-time column easily but I need at least two numeric variables to plot a time series graph. The reason is I don't want to clutter the s

[2021-09-25 09:58] mglowacki100 commented on #46
Hi,
Thanks for explanations :)

ad1.
Yeah, `parse_dates` sometimes behaves oddly, but I'm able to convert and detect date column with this snippet:
[code]
Of course, it is easy to do it in "isolation" and could be hard to incorporate to codebase, so maybe just a change in documentation that date column is not always detected from file and dataframe should be preferred?
Btw. have you considered sep

[2021-09-25 12:09] AutoViML commented on #46
Hi @mglowacki100 👍
That suggestion of yours is dangerous 👎
`df = df.apply(lambda col: pd.to_datetime(col, errors='ignore')
              if col.dtypes == object
              else col,
              axis=0)`
It would turn most object columns into gibberish since many would become date-time columns without being one. The reason AutoViz works for most use cases is that I judiciously avoid applying t

[2021-09-25 12:09] #46 closed

[2021-10-18 08:19] Bhavana165 opened #47 "Frequency distribution plot of target column is wrongly interpreted"
Hi, when I have run on the steel classification dataset the frequency distribution plot for the target column is showing wrong.
![Dist_Plots_target](https://user-images.githubusercontent.com/50872274/137694309-44b7d135-a834-4240-805d-11cfe27b6c31.png)

[2021-10-18 08:22] Bhavana165 commented on #47
And also the whole names of the columns are not showing in the graph.

[2021-10-25 09:09] borisRa opened #48 "Set output results path"
Hi,

How can I control the  output file path ?

Thanks,
Boris

[2021-11-01 19:26] AustinCaudill opened #49 "Bokeh Option Unavailable"
Per the documentation, when setting chart_format to "bokeh," an interactive dashboard should be created in the Jupyter Notebook.

However, I am receiving the following error:

`ValueError: Format 'bokeh' is not supported (supported formats: eps, jpeg, jpg, pdf, pgf, png, ps, raw, rgba, svg, svgz, tif, tiff)`

[2021-11-02 20:21] AutoViML commented on #49
Hi Austin @AustinCaudill
You must upgrade to the latest version of AutoViz by doing:
`!pip install autoviz --upgrade`

You should check out this example notebook for clues on how to set the chart format correctly:
[Example Notebook](https://github.com/AutoViML/AutoViz/blob/master/Examples/AutoViz_Bokeh_Interactive_Demo.ipynb)

[2021-11-02 20:24] AutoViML commented on #48
You can't. You need to use the folder that it saves the charts to. Why do you need to change the folder path?

[2021-11-03 11:04] borisRa commented on #48
Because I would like to control where it saves the results.  for me the path should be different per each  problem ( different input data ). instead of copying it manually would like to control this from the code.

[2021-11-04 12:38] sahanaraguram2000 commented on #48
Yes I would like that too... I am using autoviz in a django app and I would like to store the results of each input data in a separate folder. Please help me out with this @AutoViML

[2021-11-04 13:49] sahanaraguram2000 opened #50 "Error thrown while running Autoviz in python file"
I have a file called Autoviz.py with the following lines of code
[code]

Now when I run this python file from the terminal with the `python Autoviz.py` I get the following error.

[code]

But this does not happen if I run the same lines of code in a python notebook. I understand that when verbose is set to 0 or 1, the plots are generated interactively in python notebooks. But when I set verbose to

[2021-11-04 18:06] AustinCaudill commented on #49
That solved it, thank you.

[2021-11-04 18:06] #49 closed

[2021-11-04 19:30] AustinCaudill opened #51 "Unable to Hide Plots"
Setting verbose=2 does not hide the plots from being shown in either python script or python notebook.

[2021-11-05 02:41] sahanaraguram2000 commented on #51
Hello @AustinCaudill ! Are you able to run Autoviz in python script?
DId you ever face this issue?
[Link to the issue](https://github.com/AutoViML/AutoViz/issues/50#issue-1044783023)
If yes, can you tell me how you overcame this?

[2021-11-07 15:48] AutoViML commented on #51
Sorry all for the trouble. I have fixed the bugs that was causing this verbose=2 error as well as  made an upgrade to save the plots in any directory you select. Please test it the upgraded version by:

pip install autoviz --upgrade

thanks for the feedback!

[2021-11-07 15:49] AutoViML commented on #50
Hi @sahanaraguram2000 👍
Sorry all for the trouble. I have fixed the bugs that was causing this verbose=2 error as well as  made an upgrade to save the plots in any directory you select. Please test it the upgraded version by:

pip install autoviz --upgrade

thanks for the feedback!

[2021-11-07 15:49] AutoViML commented on #48
Hi @borisRa 👍
Sorry all for the trouble. I have fixed the bugs that was causing this verbose=2 error as well as  made an upgrade to save the plots in any directory you select. Please test it the upgraded version by:

pip install autoviz --upgrade

thanks for the feedback!

[2021-11-08 18:35] AustinCaudill commented on #51
Thank you for your quick work! I have tested and the issue is now resolved.

[2021-11-09 01:33] sahanaraguram2000 commented on #50
Thank you @AutoViML  for the prompt response !

[2021-11-17 23:28] borisRa commented on #48
Thank you very much !

[2021-11-17 23:28] #48 closed

[2021-11-18 17:24] William-Lake opened #52 "JupyterLab/Pandas Dataframe/Bokeh leads to: KeyError: "[''] not in index""
**First off- thank you for creating this repository and for the latest Jupyter integration. I'm incredibly excited to use it, thank you for all the hard work!**

# Brief Description

Given .csv file `test.csv`:

[code]

([test.csv](https://github.com/AutoViML/AutoViz/files/7564579/test.csv))

When this code is ran in Jupyter Lab:

[code]

One bokeh chart is generated and two stack traces are displ

[2021-11-19 03:39] AutoViML commented on #52
Hi @William-Lake 👍
You are absolutely correct. I have fixed the two places where this was happening. You should check by upgrading:
pip install autoviz --upgrade

It should be fixed now. Please confirm.

Thanks
AutoViML

[2021-11-21 05:01] William-Lake commented on #52
Thanks @AutoViML worked like a charm. Have a nice weekend!

[2021-11-21 05:01] #52 closed

[2021-11-22 19:43] #45 closed

[2021-12-12 04:02] microprediction opened #54 "[suggestion] colab example notebooks"
Include some colab notebooks in the examples so lazy people (ahem) can just click and open them to see it work.

[2021-12-12 13:24] AutoViML commented on #36
Hi @sunset1234321 👍 @RalucaBala 👍
AutoViz now allows you to save all charts in HTML format. They are even dynamic HTML charts since they have widgets that allow you to change them. Take a look at the main  [README page](https://github.com/AutoViML/AutoViz) to see how it works.

I will also add examples in the [Examples page](https://github.com/AutoViML/AutoViz/tree/master/Examples) so you can see

[2021-12-12 14:07] AutoViML commented on #34
Hi @beobest2 👍
AutoViz now allows you to save all charts in HTML format. They are even dynamic HTML charts since they have widgets that allow you to change them. Take a look at the main README page to see how it works.

I will also add examples in the Examples page so you can see it in action.

Hope this helps,
AutoViML team

[2021-12-12 15:17] nhatvietnam opened #55 "HTMl and BOKEH not output all!"
The autoviz work well for chart_format svg, but BOKEH and HTML not all the dataset work well, when running I encounter:

~\anaconda3\lib\site-packages\pandas\core\indexes\base.py in get_loc(self, key, method, tolerance)
   3361                 return self._engine.get_loc(casted_key)
   3362             except KeyError as err:
-> 3363                 raise KeyError(key) from err
   3364
   3365

[2021-12-12 17:18] AutoViML commented on #55
Hi @nhatvietnam 👍
The issue was a minor code fix. I have fixed it now and should work. Here is the  same notebook with the fixed version running correctly. Please take a look.

[autoviz_test_fixed.zip](https://github.com/AutoViML/AutoViz/files/7699196/autoviz_test_fixed.zip)

you must do the following to upgrade on your local machine:

`pip install autoviz --upgrade`

You can close the issue if it

[2021-12-12 17:34] AutoViML commented on #32
Hi @sunset1234321 👍

I have created a Kaggle Notebook to show how you can create charts using JSON files. If you feel that this functionality should be in AutoViz directly, then I can incorporate it. Take a look at this notebook:
[Kaggle Notebook on JSON file](https://www.kaggle.com/rsesha/autoviz-on-json-file-and-saving-as-html)

Hope this helps,
AutoViML

[2021-12-12 19:54] nhatvietnam commented on #55
Dear,

The issue is fixed but when I change the chart_format="server", the new error occurs as:

~\anaconda3\lib\site-packages\autoviz\AutoViz_Holo.py in draw_scatters_hv(dfin, nums, chart_format, problem_type, dep, classes, lowess, mk_dir, verbose)
    410     if chart_format in ['server', 'bokeh_server', 'bokeh-server']:
    411         #server = pn.serve(hv_all, start=True, show=True)
--> 412

[2021-12-13 00:44] nhatvietnam commented on #55
This problem is done now!

[2021-12-13 00:44] #55 closed

[2021-12-13 00:46] nhatvietnam opened #56 "chart_format="server" is not working!"
Dear,
 I set the chart_format="server", the new error occurs as:

~\anaconda3\lib\site-packages\autoviz\AutoViz_Holo.py in draw_scatters_hv(dfin, nums, chart_format, problem_type, dep, classes, lowess, mk_dir, verbose)
    410     if chart_format in ['server', 'bokeh_server', 'bokeh-server']:
    411         #server = pn.serve(hv_all, start=True, show=True)
--> 412         hv_all.show()
    413

[2021-12-13 01:36] AutoViML commented on #56
Hi @nhatvietnam 👍
This has been fixed. Please upgrade AutoViz by:

pip install autoviz --upgrade

Please close this if it is fixed.
AutoViML

[2021-12-13 01:45] nhatvietnam commented on #56
Dear!

It work now, you are awesome!

Kind regards,

[2021-12-13 01:45] #56 closed

[2021-12-13 01:57] nhatvietnam commented on #54
@microprediction  I do not think lazy people will fit in data science/AI, according to my experience they will not work long in this field.
Maybe just a couple of months they will start to look for other jobs!
By the way we still need AutoML tools for doing repetitive task automatically! Using auto tools does not mean you are lazy!
In addition, Autoviz is well documentation, I think it is better t

[2021-12-13 02:34] microprediction commented on #54
you may be right but remember that laziness is one of the three virtues of a programmer.

[2021-12-14 14:42] AutoViML commented on #47
Hi @Bhavana165 👍
I have fixed this. Can you please upgrade via:

pip install autoviz --upgrade

thanks
AutoViz

[2021-12-19 15:04] AutoViML commented on #54
I have added a Colab Demo notebook link to the main README page as well as there are Demo notebooks in the Examples page.

Here is a link if you want to look:
[Colab Notebook](https://colab.research.google.com/drive/1r5QqESRZDY98FFfDOgVtMAVA_oaGtqqx?usp=sharing)

[2021-12-19 15:04] #54 closed

[2021-12-22 13:54] chekoduadarsh opened #57 "Suggesting Updated for Wordcloud"
## 1. Updating Stopwords List

Currently, I can see that Stopwords are defined as a list and I can see that it is missing a few stop words like "themselves".

[code]

**Isn't it better to use NLTK stop words list??**

[code]

Copied from:  https://gist.github.com/sebleier/554280

## 2. Lemmatization before plotting

I think it is better if we lemmatize the data before we plot then words like "read

[2021-12-23 12:36] AutoViML commented on #57
Hi @chekoduadarsh 👍
Thanks for your comments and inputs. They are very interesting.

`Isn't it better to use NLTK stop words list??`
Sorry no. I found that it is mostly useless. That's why I created my own list by taking some from it and adding others from my own experience. I will add a couple of words you suggested however.

`I think it is better if we lemmatize the data`
Yes. Let me work on it.

[2021-12-23 14:27] chekoduadarsh commented on #57
@AutoViML, Thank you,

let me know if u need support from me for the second point. I will be happy to do a PR.

[2021-12-23 15:15] AutoViML commented on #57
@chekoduadarsh 👍
Thank you for your offer. May be next time, you can make a PR. I already committed the change. Can you please test it?
Just upgrade...
Thanks
AutoViML

[2021-12-23 15:25] chekoduadarsh commented on #57
Ok Thank you I will upgrade autoviz

[2021-12-23 15:25] #57 closed

[2022-01-03 15:53] #47 closed

[2022-01-03 15:53] #36 closed

[2022-01-03 15:53] #34 closed

[2022-01-03 15:53] #32 closed

[2022-01-12 22:03] reza1615 opened #58 "lightgbm instead of xgboost"
Is t possible to use lightgbm instead of xgboost?
It is extremely faster and lighter

[2022-01-13 14:28] rsesha commented on #58
Hi @reza1615 👍

Great question.

I think that would require a small change but extensive testing to make sure nothing else is broken.

I will research this and let you know.
AutoViML

[2022-01-25 21:57] rgoubet opened #59 "Could not draw ..."
I'm trying to run autoviz on my pandas DataFrame and, oddly, sometimes it works, sometimes is does not and displays the following:

[code]

As far as I can tell, nothing changes between the times when it works and when it does not. What can trigger this kind of error?

[2022-01-25 22:43] rgoubet commented on #59
Seems like `%matplotlib inline` needs to run *after* the import. Since I usually place iPython magic commands at the top of my notebooks, it typically runs before the import, except in the case where I re-executed the cell.

[2022-01-25 22:43] #59 closed

[2022-02-01 20:54] moezali1 opened #60 "IndexError: list index out of range"
Hi. We have recently integrated AutoViz into [PyCaret](https://www.github.com/pycaret/pycaret) and I think I found an edge case here that needs to be fixed in AutoViz. This problem only happens when the dataset only has 1 numeric feature. My guess is that it needs at least 2 variables for the scatter plot. The expected fix will basically involve some kind of exception handling.

To reproduce the e

[2022-02-03 14:33] AutoViML commented on #60
Hi @moezali1 👍
Thanks for the comments and feedback. I will make this quick fix and upload a new version and notify you.
AutoViz

[2022-02-03 15:42] GDGauravDutta opened #61 "No plot visible in local Jupiter"
from autoviz.AutoViz_Class import AutoViz_Class
%matplotlib
AV = AutoViz_Class()
df = AV.AutoViz(filename='',dfte=train,depVar='Species',verbose=1)

Using matplotlib backend: Qt5Agg
Shape of your Data Set loaded: (150, 5)
############## C L A S S I F Y I N G  V A R I A B L E S  ####################
Classifying variables in data set...
    Number of Numeric Columns =  4
    Number of Integer-Catego

[2022-02-05 13:59] AutoViML commented on #61
Hi @GDGauravDutta 👍
You didn't get the sequence of commands above right. You must do %matplotlib inline after you create the AutoViz_Class.
[code]
This sequence above works fine and displays the charts in my Jupyter Notebook (laptop).
AutoViML

[2022-02-05 14:17] AutoViML commented on #61
Hi @GDGauravDutta 🥇
If you need to download a notebook that works and you can test you data on it: here it is

https://github.com/AutoViML/AutoViz/blob/master/Examples/AutoViz_Demo.ipynb

AutoViML

[2022-02-08 03:04] Benzidrine opened #62 "Image size is too large error. Autoviz creating enormous image sizes"
I tried to use Autoviz on the following dataset: https://www.kaggle.com/c/house-prices-advanced-regression-techniques

Using the following code to call Autoviz:
`dftc = AV.AutoViz('../input/house-prices-advanced-regression-techniques/train.csv', depVar='SalePrice', verbose=0, chart_format='bokeh')`

It was unable to display the charts without error giving the following error:

--------------------

[2022-02-13 22:11] AutoViML commented on #60
Thanks for reporting the bug @moezali1 👍
I have fixed it in version 0.1.36
You can upgrade via:
[code]
I am sure you know :-)
AutoViML

[2022-02-13 22:12] AutoViML commented on #62
@Benzidrine 👍

Thanks for finding the problem. I have fixed the bug - please check via upgrade:
[code]

AutoViz

[2022-02-15 13:12] #62 closed

[2022-02-15 13:12] #61 closed

[2022-02-15 13:12] #60 closed

[2022-02-24 08:08] k-nayak opened #63 "Not able to read or load file. Please check your inputs and try again..."
pandas ascii encoder does not work for this file. Continuing...
    pandas utf-8 encoder does not work for this file. Continuing...
    pandas iso-8859-1 encoder does not work for this file. Continuing...
    pandas cp1252 encoder does not work for this file. Continuing...
    pandas latin1 encoder does not work for this file. Continuing...
Not able to read or load file. Please check your inputs a

[2022-02-24 08:36] k-nayak commented on #63
Shape of your Data Set loaded: (82385, 1)
############## C L A S S I F Y I N G  V A R I A B L E S  ####################
Classifying variables in data set...
    1 Predictors classified...
        No variables removed since no ID or low-information variables found in data set
No continuous variables in this data set. No visualization can be performed
Not able to read or load file. Please check your

[2022-02-24 10:49] k-nayak commented on #62
facing same error even after updating.

Shape of your Data Set loaded: (82385, 60)
############## C L A S S I F Y I N G  V A R I A B L E S  ####################
Classifying variables in data set...
    60 Predictors classified...
        9 variables removed since they were ID or low-information variables
40 numeric variables in data exceeds limit, taking top 50 variables
Number of All Scatter Plot

[2022-02-24 12:46] AutoViML commented on #63
Hello @k-nayak 👍
It is very simple. AutoViz uses pandas to read your file. Why don't you first read your file using pandas into a dataframe and then send it as input? Since AutoViz is saying that the shape of your dataset is ```(82385,1)``` I assume that the "sep" separator in your file is not comma but it is something else. If you can feed the right separator to AutoViz, it will read it.

Please

[2022-02-26 16:59] zeydabadi opened #64 "incorrect categorical variable assignment"
I have a dataframe that has 32 columns of type object and float.32
one of the float.32 columns is treated as categorical by AutoViz.
How can I exclude that column from being treated as categorical?

[2022-02-27 22:19] #63 closed

[2022-02-27 22:29] AutoViML commented on #64
Hi @zeydabadi:
AutoViz checks if the number of unique values in your float.32 is below the `float_limit = 15` - in your case, it appears that it seems to fit this criteria. hence it is treating that float.32 column as a categorical variable. Is there anything you would like me to change here?
Thanks
AutoViML

[2022-03-09 17:17] #64 closed

[2022-03-29 08:19] gaspar-avit opened #65 "Read CSV file with different encodings"
Hi. I'm trying to use the library with a CSV file that uses "ISO-8859-1" encoding, and the log says:

`pandas ascii encoder does not work for this file. Continuing...`
` pandas utf-8 encoder does not work for this file. Continuing...`
` pandas iso-8859-1 encoder does not work for this file. Continuing...`

After checking the source code, I found that there is a bug in the AutoViz_Utils.py file:

<

[2022-03-29 14:30] AutoViML commented on #65
Hi @gaspar-avit 👍
You are right. Fixing it right now. You should try it with:
[code]

Check for version number 0.1.37

Thanks
AutoViML

[2022-04-07 08:44] kittu1999 opened #67 "ModuleNotFoundError: No module named 'autoviz.AutoViz_class'"
----> from autoviz.AutoViz_class import AutoViz_class

ModuleNotFoundError: No module named 'autoviz.AutoViz_class'

[2022-04-07 10:47] AutoViML commented on #67
Hi @kittu1999 👍
Very simple :-) - You could have checked the web site main README: https://github.com/AutoViML/AutoViz
it shows how to import.
[code]
You had a spelling mistake in your import (Upper case).
AutoViML

[2022-04-07 10:47] #67 closed

[2022-04-08 19:00] #65 closed

[2022-04-22 10:04] xingyuezhiji opened #68 "FloatingPointError: underflow encountered in true_divide"
`FloatingPointError: underflow encountered in true_divide`

how to solve this problem?

[2022-04-22 10:05] xingyuezhiji commented on #68
`[](https://bokeh.org/)[](https://bokeh.org/)Shape of your Data Set loaded: (53780, 14)
############## C L A S S I F Y I N G  V A R I A B L E S  ####################
Classifying variables in data set...
    Number of Numeric Columns =  10
    Number of Integer-Categorical Columns =  0
    Number of String-Categorical Columns =  0
    Number of Factor-Categorical Columns =  0
    Number of String-B

[2022-04-22 10:08] xingyuezhiji commented on #68
[code]

[2022-04-25 16:15] AutoViML commented on #68
Hi @xingyuezhiji 👍
A simple search on Google for this error shows there are lots of reasons for the error. You could have done the same.
I am posting one of the probable causes - you might want to do your own search.
[code]

Link: https://stackoverflow.com/questions/61631179/not-able-to-plot-with-large-parameters-value

Next time, please use Google search.
AutoViML

[2022-04-26 13:15] ZhaiCong opened #69 "IndexError: list index out of range if type(df[depVar])==int32"
if the type of target columns is int32，it seems meet some mistake ,because the function classify_print_vars does not treat type(int32). if I define  target columns astype int64, the problem will solve.
please add the infer function to type int32. Thanks！

![image](https://user-images.githubusercontent.com/26532631/165308167-155058c2-51df-438c-9510-9f6081f378da.png)

    if type(depVar) == str:

[2022-04-28 01:13] #68 closed

[2022-04-28 01:15] AutoViML commented on #69
Hi @ZhaiCong 👍
Nice Catch! I fixed the bug and you can test it by upgrading via:
[code]
Thanks for trying out AutoViz.
AutoViML

[2022-05-01 15:36] #69 closed

[2022-06-03 15:53] danielhassin opened #70 "Loading file Failure"
I am running another pd.DataFrame and get the error "Not able to read or load file. Please check your inputs and try again...". how can I detect the problem in my input?
**Edit** - succeeded to run and plot the mentioned df, but when defining "DepVar" I still get the notification "Not able to read or load file. Please check your inputs and try again...".
**Edit 2** - succeeded to run and plot the

[2022-06-08 13:05] emsi opened #71 "Does not work with DataFrame"
Calling:
[code]
Yields:
`Not able to read or load file. Please check your inputs and try again...`
Clearly not working with pandas DataFrames as advertized.

[2022-06-19 13:00] AutoViML commented on #70
@danielhassin 👍
This was a minor bug which has been fixed. Please upgrade your installation (see below) and try again:
[code]
Thanks
AutoViML team

[2022-06-19 13:00] #70 closed

[2022-07-12 06:48] reachshyamal opened #72 "No plots showing up in output of code block"
Please find the screenshot of the output of invoking AutoViz class on a dataset in Google Colab notebook.

![image](https://user-images.githubusercontent.com/42542338/178426257-39138f76-5a6d-402f-8987-e35a88c5dbbf.png)

[2022-07-12 06:51] reachshyamal commented on #72
I am running this as well in the code block above
!pip install autoviz --no-cache-dir --ignore-installed

The output is the following:
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting autoviz
  Downloading autoviz-0.1.41-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 5.2 MB/s
Collecting typing-extensions>=4.1.1

[2022-07-12 19:58] AutoViML commented on #72
You need to execute
[code]
In the notebook before running AutoViz. Otherwise no plots will be displayed.

[2022-07-13 04:42] reachshyamal commented on #72
I am already executing that, but still no plots are showing up

[2022-07-13 12:57] AutoViML commented on #72
The sequence is as follows
from autoviz.AutoViz_Class import AutoViz_Class
then initialize AV
AV = AutoViz_Class()

Then perform %matplotlib
%matplotlib inline

Then call AV.AutoViz(filename)
See image here:
![image](https://user-images.githubusercontent.com/51647480/178738838-f153a622-d0c9-4974-917f-d0a19809ea13.png)

[2022-07-13 14:22] reachshyamal commented on #72
Thanks , I didn't know that I needed to import seaborn , but appreciate the code snippet! It worked!

[2022-07-16 09:34] gbogobabs opened #73 "Not able to read or load file using Auto viz"
I am having the above error while using autoviz
My target variable is price
i even tried it using empty target variable still same result i dont know the problem
I tried dataframe, still same issue meanwhile i as able to read my data with pandas but autoviz could no
[house_price.zip](https://github.com/AutoViML/AutoViz/files/9125496/house_price.zip)
i attached Zip file of the data because it was l

[2022-07-18 09:49] tonovoh1 opened #74 "Can not draw Wordcloud plot"
Shape of your Data Set loaded: (3312, 20)
#######################################################################################
######################## C L A S S I F Y I N G  V A R I A B L E S  ####################
#######################################################################################
Classifying variables in data set...
    20 Predictors classified...
        2 variables remov

[2022-07-18 09:51] tonovoh1 commented on #74
AV = AutoViz_Class()
df_autoviz = AV.AutoViz('data.xlsx')

that is the code i ran and that is the output it shows

[2022-07-18 14:38] AutoViML commented on #74
Hi @tonovoh1 👍
Can you please check if u have the latest version of AutoViz since this problem with wordclouds has been fixed in the latest version.  Can you try your code once again after upgrading via:

[code]

[2022-07-18 15:10] AutoViML commented on #73
Hi @gbogobabs 👍
You can upgrade to the minor big fix version now:

[code]

But I noticed that your dataset does not have any numeric vars. So you must first convert at least one or two variables to numeric before using AutoViz since it does not visualize an all-categorical dataset. You can use our other library 'lazytransform' to convert your dataset to numeric.
![house_price](https://user-images.

[2022-07-19 18:35] gbogobabs commented on #73
Hello AutovizTeam,

I have been able to do an upgrade on Autoviz
But the second library you recommended (lazytransform), I am having a difficult time installing. I left my laptop for 2 hours still the library did not install. I had to stop the process
I don't know what the issue might be. Kindly assist
I use 8GB RAM and 50GB HDD
________________________________
From: Home of AutoViz, AutoViML and

[2022-07-24 17:39] Ali-Flt commented on #72
I use autoviz in my project and by only importing autoviz in a part of my code, no plots created from other parts of my codes are shown on spyder anymore unless I run `%matplotlib inline`. Why should importing a package break the functionality of the whole program?

[2022-08-10 12:54] AutoViML commented on #74
Hi @tonovoh1 👍

I found there was a bug that prevented Wordcloud plots. So please go ahead and upgrade:

[code]

If you see version 0.1.43 then you have got the right version.

[2022-08-16 07:46] LiebeLee opened #75 "[Suggestion] output save as object in memory."
Thanks for creating this amazing tool!

In some cases, like the back end and front end are separated, the generaed files may need to be stored into the memory and then return to the front end.
Will this feature can be considered to add  to the future version?

Thank you.

[2022-08-16 11:33] #74 closed

[2022-08-16 11:35] AutoViML commented on #73
Hello @gbogobabs 👍
You can try reading the installation instructions on this page:
https://github.com/AutoViML/lazytransform

Or you can try using Kaggle or Colab notebooks which are easier to use. Here is a Kaggle notebook that uses LazyTransform:
https://www.kaggle.com/code/rsesha/lazytransform-heartdisease-accuracy-77

[2022-08-16 11:35] #73 closed

[2022-08-16 11:37] AutoViML commented on #75
Hi @LiebeLee 👍
Thanks for your comments on AutoViz. This is a good suggestion but writing large image files to disk and then retrieving them may slow AutoViz down. Have you tried the `verbose=2` option which saves all image files to disk? You can then load them yourself and visualize them.

[2022-08-20 18:19] #75 closed

[2022-09-13 18:12] rasbt opened #76 "Fails for the simple Iris dataset"
Sorry, I was comparing two tools and had the wrong window open 😅

[2022-09-13 18:15] #76 closed

[2022-10-11 08:36] gbogobabs commented on #73
Hello,
Thank you for your mail
I have the second column which is price as numeric but i will covert some and revert

Thanks
________________________________
From: Home of AutoViz, AutoViML and featurewiz ***@***.***>
Sent: 18 July 2022 16:10
To: AutoViML/AutoViz ***@***.***>
Cc: Ruth Babatunde ***@***.***>; Mention ***@***.***>
Subject: Re: [AutoViML/AutoViz] Not able to read or load file using Au

[2022-10-11 16:37] celestinoxp opened #77 ""panel" dependency support for the latest version"
requirements.txt have an dependecie "panel" in 12.x version. is too old.
new version of panel is 0.14.x and have a new bugfixes.

Suggestion:
panel~=0.12.6 ---> support new panel version (0.14.0)

[2022-10-12 01:46] AutoViML commented on #77
Hi @celestinoxp thanks for the suggestion. 👍
I haven't tested it with panel 0.14.0 = so the best I can do is to change the `panel~=0.12.6` ---> `panel>=0.12.6`

Hope you can test it with 0.14.0 and tell me if everything works well with AutoViz with a couple of data sets.

I will then change `requirements.txt` to the latest version.
Thanks
AutoVimal

[2022-10-12 07:56] celestinoxp commented on #77
1
After updating to the latest changes, autoviz continues to install "panel" 0.12.6.
After checking the setup.py file, I found that the dependencies remain with "panel" 0.12.6.

I don't have much experience in github and I was wondering if the requirements.txt dependency file is not being used and just setup.py. I think normally setup.py does the calling of dependencies from requirements.txt, whic

[2022-10-26 12:13] AutoViML commented on #77
I have changed the `setup.py` file as well. Good luck!

[2022-10-26 12:13] #77 closed

[2022-11-05 01:02] microprediction commented on #54
Thumbs up